body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 28px;
}

form {
  max-width: 450px;
  position: relative;
}

form label {
  color: #777;
  position: absolute;
  top: 10px;
  left: 16px;
  pointer-events: none;
}

form input {
  width: 320px;
  padding: 12px 16px;
  border: 1px solid #777;
  border-radius: 6px;
}

form input:focus {
  outline-style: solid;
  outline-color: skyblue;
  outline-width: 2px;
  outline-offset: 1px;
}

form input:focus + label,
form input:not(:placeholder-shown) + label {
  top: -10px;
  left: 12px;
  color: skyblue;
  background-color: #fff;
  padding: 0 4px;
}

form input:not(:focus):not(:placeholder-shown) + label {
  color: #777;
}

form input:valid {
  outline-style: solid;
  outline-color: greenyellow;
  outline-width: 2px;
  outline-offset: 1px;
}

form input:valid:focus + label,
form input:valid:not(:focus):not(:placeholder-shown) + label {
  color: greenyellow;
}

form input:invalid:not(:placeholder-shown) {
  outline-style: solid;
  outline-color: red;
  outline-width: 2px;
  outline-offset: 1px;
}

form input:invalid:not(:placeholder-shown) + label {
  color: red;
}
